STATUS_DIR="{{STATUS_DIR}}"
SCRIPTS_DIR="{{SCRIPTS_DIR}}"
REQEXEC_BIN_PATH="{{REQEXEC_BIN_PATH}}"
RUN_MODE="{{RUN_MODE}}"
NODE_ID="{{NODE_ID}}"
SUBSCRIPTION_ID="{{SUBSCRIPTION_ID}}"
NODE_TYPE_CODE="{{NODE_TYPE_CODE}}"
SHIPPABLE_NODE_ARCHITECTURE="{{SHIPPABLE_NODE_ARCHITECTURE}}"
SHIPPABLE_NODE_OPERATING_SYSTEM="{{SHIPPABLE_NODE_OPERATING_SYSTEM}}"
SHIPPABLE_API_URL="{{SHIPPABLE_API_URL}}"
