[Unit]
Description=Shippable request kickstarter service

[Service]
Type=simple
ExecStart=/usr/local/bin/node /pipelines/reqKick/reqKick.app.js
EnvironmentFile=/pipelines/config/reqKick-service.env
Restart=always

[Install]
WantedBy=multi-user.target
