[Unit]
Description=Shippable request kickstarter service

[Service]
Type=simple
ExecStart=/usr/local/bin/node /jfrog/reqKick/reqKick.app.js
EnvironmentFile=/jfrog/config/reqKick.env
Restart=always

[Install]
WantedBy=multi-user.target
