[Unit]
Description=Shippable request kickstarter service

[Service]
Type=simple
ExecStart=/usr/local/bin/node /var/lib/shippable/%i/reqKick/reqKick.app.js
EnvironmentFile=/etc/shippable/reqKick/%i.env
Restart=always

[Install]
WantedBy=multi-user.target
